@model Lootsplosion.Models.Item.ItemDetail

@{
    ViewBag.Title = "Details";
}

<h2 class="text-center">@Html.DisplayFor(model => model.ItemName)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Rarity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rarity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemType)
        </dd>

        @if (Model.Strength != 0)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Strength)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Strength)
            </dd>
        }

        @if (Model.Intelligence != 0)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Intelligence)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Intelligence)
            </dd>
        }

        @if (Model.Vitality != 0)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Vitality)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Vitality)
            </dd>
        }

        @if (Model.Mobility != 0)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Mobility)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Mobility)
            </dd>
        }

        @if (Model.CritChance != 0)
        {
            <dt>
                @Html.DisplayNameFor(model => model.CritChance)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CritChance)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.ItemDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherEffects)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherEffects)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorldDrop)
        </dt>

        <dd>
            @if (Model.WorldDrop == true)
            {
                <i class="fa fa-circle-check"></i>
            }
            @if (Model.WorldDrop != true)
            {
                <i class="fa fa-circle-xmark"></i>
            }
        </dd>

    </dl>
</div>
<p class="text-center">
    @Html.ActionLink("Edit", "Edit", new { id = Model.ItemId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
