@model IEnumerable<Lootsplosion.Models.Item.ItemListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Items</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary">Create New Item</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-sm-6" style="padding: 5px 10px 5px 10px; outline:2px solid white; outline-offset:-3px;">
            <h4 class="text-center">
                <a href="@Url.Action("Details", new {id = item.ItemId})" style="color:white">
                @Html.DisplayFor(modelItem => item.ItemName)
                </a>
                @if (item.WorldDrop == true)
                {
                    <i class="fa fa-globe pull-right"></i>
                }
            </h4>
            <div class="pull-left">
                @Html.DisplayFor(modelItem => item.Rarity)
                @Html.DisplayFor(modelItem => item.ItemType)
            </div>
            <div class="text-right">
                @Html.ActionLink("Edit", "Edit", new { id = item.ItemId }, htmlAttributes:new {@style="color: white"}) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ItemId }, htmlAttributes: new { @style = "color: white" })
            </div>
        </div>
    }
    <br />
</div>
<br />
<p><i class="fa fa-globe"></i> - World Drop</p>
