@model Lootsplosion.Models.LootSource.LootSourceDetail

@{
    ViewBag.Title = "Details";
}

<h2 class="text-center">@Html.DisplayFor(model=>model.SourceName)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LootSourceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LootSourceId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SourceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SourceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SourceDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SourceDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SourceType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SourceType)
        </dd>

        @if (Model.SourceType == Lootsplosion.Common.EnumCollection.SourceType.Enemy)
        {
            <dt>
                @Html.DisplayNameFor(model=> model.EnemyId)
            </dt>

            <dd>
                @Html.DisplayFor(model=>model.EnemyId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model=>model.EnemyName)
            </dt>

            <dd>
                @Html.DisplayFor(model=>model.EnemyName)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.NoLootWeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoLootWeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommonWeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommonWeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UncommonWeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UncommonWeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RareWeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RareWeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EpicWeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EpicWeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LegendaryWeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LegendaryWeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pulls)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pulls)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LootSourceId }) |
    @if (Model.SourceType != Lootsplosion.Common.EnumCollection.SourceType.World)
    {
        @Html.ActionLink("Add Item", "AddLoot", new { id = Model.LootSourceId })
        <text> | </text>
    }
    @Html.ActionLink("See Items", "LootPools", new { id = Model.LootSourceId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
