@model IEnumerable<Lootsplosion.Models.LootPool.LootPoolListItem>

@{
    ViewBag.Title = "LootPools";
}

<h2>LootPools</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LootPoolId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LootId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LootName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LootSourceId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LootSourceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecretRarity)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LootPoolId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LootId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LootName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LootSourceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LootSourceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecretRarity)
            </td>
            <td>
                @Html.ActionLink("Remove from Source", "Delete", "LootPool", new { id = item.LootPoolId }, null)
            </td>
        </tr>
    }

</table>
