@model IEnumerable<Lootsplosion.Models.LootPool.LootPoolListItem>

@{
    ViewBag.Title = "LootPools";
}

<h2>Loot List for @Html.DisplayFor(model=>model.First().LootSourceName)</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LootId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LootName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecretRarity)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LootId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LootName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecretRarity)
            </td>
            @if (!item.WorldDrop)
            {
                <td>
                    @Html.ActionLink("Remove from Source", "Delete", "LootPool", new { id = item.LootPoolId }, null)
                </td>
            }
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Back to Source List", "Index")
</p>
