@model IEnumerable<Lootsplosion.Models.LootPull.PulledLootListItem>

@{
    ViewBag.Title = "Pull";
}

<h2>Pull</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LootId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LootName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rarity)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.LootId != 0)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LootId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LootName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rarity)
                </td>
            </tr>
        }
    }

</table>
<p>
    @Html.ActionLink("Again!", "Index")
</p>
